<!-- views/eachPage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= eachpage.pageTitle %></title>
</head>
<body>
 
</table>

  <h1><%= eachpage.pageTitle %></h1>
  <p>pageContent: <%= eachpage.pagecontent %></p>
  mediaLink : <%= eachpage.media %>
  <img src="/uploads/<%= eachpage.media %>" alt="Uploaded Image">
  <p>pageFooter: <%= eachpage.pagefooter %></p>
</body>
</html>
